###################################
# Node.js
###################################
app/node_modules/
app/npm-debug.log

###################################
# Terraform
###################################
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars

###################################
# Terraform Backend
###################################
backend.tf

###################################
# Jenkins
###################################
.jenkins/

###################################
# IDE
###################################
.vscode/
.idea/

###################################
# OS
###################################
.DS_Store
Thumbs.db

###################################
# Logs
###################################
*.log

###################################
# Environment
###################################
.env

###################################
# Docker
###################################
docker-compose.override.yml